<div class="pos-f-t fixed-top header">
    <nav class="navbar navbar-inverse bg-inverse navbar-toggleable-md">

        <a class="navbar-brand" href="javascript:void(0)">Odan Cafe Admin</a>
        <div class="collapse navbar-collapse">
            <!-- <form class="form-inline my-2 my-lg-0">
                 <input class="form-control mr-sm-2" type="text" placeholder="{{ 'Search' | translate }}" >
             </form>-->


                <a href="/cart" class="nav-link">
                    <i class="fa fa-opencart fa-2x"></i>
                    Cart
                </a>



            <ul class="navbar-nav ml-auto mt-2 mt-md-0">
                <li class="nav-item my-nav-item">
                    <a href="/contacts" class="nav-link">
                        <i class="fa fa-users" aria-hidden="true"></i>
                        Contact
                    </a>
                </li>

                <li class="nav-item my-nav-item">
                    <a href="/users" class="nav-link">
                        <i class="fa fa-users" aria-hidden="true"></i>
                        User
                    </a>
                </li>


                <li class="nav-item my-nav-item">
                    <a href="/order" class="nav-link">
                        <i class="fa fa-book"></i>
                        Order
                    </a>
                </li>
                <li class="nav-item my-nav-item">
                    <a href="/menu" class="nav-link">
                        <i class="fa fa-book"></i>
                        Purchase
                    </a>
                </li>


                <li class="nav-item my-nav-item" ngbDropdown>
                    <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle>
                        <i class="fa fa-gears"></i> <b class="caret"></b><span class="sr-only">(current)</span>
                        Settings
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <a href="javascript:void(0)" class="dropdown-item">User Management </a>
                        <a href="javascript:void(0)" class="dropdown-item">Offer Management </a>
                        <a href="javascript:void(0)" class="dropdown-item">Menu and Price Management </a>
                    </ul>
                </li>

                <li class="nav-item my-nav-item" ngbDropdown>
                    <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle>
                        <i class="fa fa-bell"></i> <b class="caret"></b><span class="sr-only">(current)</span>
                        Notification
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <a href="javascript:void(0)" class="dropdown-item">Pending Task <span
                            class="badge badge-info">6</span></a>
                        <a href="javascript:void(0)" class="dropdown-item">In queue <span
                            class="badge badge-info"> 13</span></a>
                        <a href="javascript:void(0)" class="dropdown-item">Mail <span
                            class="badge badge-info"> 45</span></a>
                        <li class="dropdown-divider"></li>
                        <a href="javascript:void(0)" class="dropdown-item">View All</a>
                    </ul>
                </li>


                <li class="nav-item my-nav-item" ngbDropdown>
                    <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle>
                        <i class="fa fa-table" aria-hidden="true"></i>
                        Reports <b class="caret"></b>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" [routerLink]="['/login']"><i class="fa fa-fw fa-user"> </i>
                            Purchase Report
                        </a>
                        <a class="dropdown-item" [routerLink]="['/login']"><i class="fa fa-fw fa-envelope"></i>
                            Sales Report
                        </a>
                        <a class="dropdown-item" [routerLink]="['/login']"><i class="fa fa-fw fa-gear"></i>
                            P & L Report
                        </a>
                        <a class="dropdown-item" [routerLink]="['/login']"><i class="fa fa-fw fa-power-off"></i>
                            Customer Report
                        </a>
                        <a class="dropdown-item" [routerLink]="['/login']"><i class="fa fa-fw fa-power-off"></i>
                            Employee Report
                        </a>

                    </div>
                </li>


                <li class="nav-item my-nav-item" ngbDropdown>
                    <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle>
                        <i class="fa fa-user"></i> John Smith <b class="caret"></b>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="javascript:void(0)"><i class="fa fa-fw fa-user"></i>
                            Profile
                        </a>
                        <a class="dropdown-item" href="javascript:void(0)"><i class="fa fa-fw fa-envelope"></i>

                        </a>

                        <a class="dropdown-item" [routerLink]="['/logout']"><i
                            class="fa fa-fw fa-power-off"></i> Log Out </a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>
