<div class="card " align="center">
    <button (click)="visible = !visible" class="btn-primary">ADD Purchase</button>
    <div *ngIf="visible">
        <div class="card card-inverse" style="background-color: #f7f7f9; border-color: #333;">
            <div class="card-block">
                <div class="row">
                    <button (click)="closeTheForm()" aria-label="Close" class="dialog__close-btn">
                        <i class="fa fa-times" aria-hidden="true" style="color: red"></i>

                    </button>
                </div>
                <form #signupForm="ngForm" (ngSubmit)="createOrUpdatePurchase(purchase)">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="category" class="col-sm-2 col-form-label col-form-label-lg">
                                    All Products
                                </label>
                                <mat-form-field>
                                    <mat-select class="form-control" placeholder="Products" #x
                                                (change)="callProduct(x.value)" name="name">
                                        <mat-option *ngFor="let type of products" [value]="type.id">{{ type.title }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="form-group row">
                                <label for="lgFormGroupInput1" class="col-sm-2 col-form-label col-form-label-lg">
                                    Quantity</label>
                                <div class="col-sm-10">
                                    <input type="number" class="form-control"
                                           [(ngModel)]="purchase.quantity" name="title"
                                           #name="ngModel" ngModel>

                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="lgFormGroupInput1" class="col-sm-2 col-form-label col-form-label-lg">Product
                                    Price</label>
                                <div class="col-sm-10">


                                    <input type="number" class="form-control"
                                           [(ngModel)]="purchase.price" name="title">


                                </div>
                            </div>

                            <!--date time picker-->
                            <div class=" form-group row">
                                <label for="lgFormGroupInput1" class="col-md-2 col-form-label col-form-label-lg">Txn
                                    date
                                </label>
                                <div class="col-md-9"><input name="sth" [(ngModel)]="purchase.txnDate" matInput
                                                             [matDatepicker]="picker" placeholder="enter date"
                                                             style="color: black"></div>

                                <div class="col-md-1" style="background-color: blue;">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                </div>

                                <mat-datepicker #picker></mat-datepicker>
                            </div>

                        </div>
                        <div class="col-md-6">

                            <!--  <div class="form-group">
                                  <label for="category" class="col-sm-2 col-form-label col-form-label-lg">
                                      Contact Name
                                  </label>
                                  <mat-form-field>
                                      <mat-select class="form-control" placeholder="All Contacts" #a
                                                  (change)="callContact(a.value)" name="name">
                                          <mat-option *ngFor="let type of contacts" [value]="type.id">{{ type.firstName }}
                                          </mat-option>
                                      </mat-select>
                                  </mat-form-field>
                              </div>-->


                            <!--  <mat-form-field class="example-full-width" #a>
                                  <input style="color: black" type="text" placeholder="Pick contact" aria-label="Number"
                                         matInput
                                         [formControl]="contactControl" [matAutocomplete]="auto">
                                  <mat-autocomplete #auto="matAutocomplete">
                                      <mat-option *ngFor="let hero of filteredContactOptions | async" [value]="hero">
                                          {{ hero}}
                                      </mat-option>
                                  </mat-autocomplete>
                              </mat-form-field>-->
                            <br>


                            <div class="form-group">
                                <label for="category" class="col-sm-2 col-form-label col-form-label-lg">
                                    UOM
                                </label>
                                <mat-form-field>
                                    <mat-select class="form-control" placeholder="Unit of Measurement" #t
                                                (change)="callUom(t.value)" name="name">
                                        <mat-option *ngFor="let type of uomTypes" [value]="type.value">{{ type.viewValue
                                            }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="form-group">
                                <label for="category" class="col-sm-2 col-form-label col-form-label-lg">
                                    Alert after:
                                </label>
                                <!--  <mat-form-field>
                                      <mat-select class="form-control" placeholder="Time unit" #r
                                                  (change)="callTimeUnit(r.value)" name="name">
                                          <mat-option *ngFor="let cont of timeUnitTypes" [value]="cont.value">{{
                                              cont.viewValue }}
                                          </mat-option>
                                      </mat-select>
                                  </mat-form-field>-->
                            </div>


                            <div class="form-group">

                                <button type="submit" name="something"
                                        class="btn btn-primary">Add
                                </button>

                                <button type="reset" type="reset" class="btn btn-secondary">Reset</button>
                            </div>


                        </div>
                        <div>
                            <form>
                                <mat-form-field name="hero" class="example-full-width" #a>
                                    <input style="color: black" type="text" placeholder="Pick contact"
                                           aria-label="Number" (ngModelChange)="inputContactChanged()"
                                           matInput [formControl]="contactControl"
                                           [matAutocomplete]="auto">
                                    <mat-autocomplete #auto="matAutocomplete">
                                        <mat-option id="one" *ngFor="let hero of contactsList" [value]="hero">
                                            <div>{{ hero}}</div>
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </form>
                        </div>
                        <div>
                            <form>
                                <mat-form-field name="hero" class="example-full-width" #a>
                                    <input style="color: black" type="text" placeholder="Pick time-unit"
                                           aria-label="Number" (ngModelChange)="inputChanged()"
                                           matInput
                                           [formControl]="timeUnitControl" [matAutocomplete]="auto">
                                    <mat-autocomplete #auto="matAutocomplete">
                                        <mat-option id="two" *ngFor="let hero of timeUnitOptions" [value]="hero">
                                            <div>{{ hero}}</div>
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </form>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <br><br>

        <!--  <div class="card-body">


          </div>-->

    </div>
</div>

<purchase-data-table></purchase-data-table>





