

hello

<button (click)="showDialog = !showDialog" class="btn">Open it </button>

<app-dialog [(visible)]="showDialog">
<h1>Hello World</h1>
<button (click)="showDialog = !showDialog" class="btn">Close</button>
</app-dialog>


<div class="panel panel-default">
    <div class="panel-body">

        <div>


            <div class="-address-book">

                <form role="form">
                    <fieldset class="form-group">
                        <input [(ngModel)]="contact.id" name="something" type="hidden">

                        <label>First Name</label>
                        <input [(ngModel)]="contact.firstName" name="something" class="form-control"
                               placeholder="Enter first name">
                        <p class="help-block"></p>
                    </fieldset>

                    <fieldset class="form-group">
                        <label>Item Price :</label>
                        <input [(ngModel)]="contact.email" name="something" class="form-control"
                               placeholder="Enter email">
                    </fieldset>


                    <button (click)="createContact()" name="something" class="btn btn-primary">Add Contact
                    </button>
                    <button type="reset" type="reset" class="btn btn-secondary">Reset Button</button>

                </form>


                <!--       <a [routerLink]="['/orders']">Place New Order</a>
-->

            </div>
            <br><br>
        </div>


    </div>
</div>


<div class="table-container">
    <div class="table-cell-container center">

        <div>


            <div class="card mb-19" align="center">
                <div class="card-header">PRODUCT LIST</div>
                <div class="card-block table-responsive" align="center">


                    <table class="table table-bordered" align="center">


                        <thead class="thead-inverse">
                        <tr>
                            <th scope="row">ID</th>
                            <th scope="row">Email</th>
                            <th scope="row">FirstName </th>
                            <th scope="row">Update</th>

                        </tr>
                        </thead>
                        <tbody>


                        <!--<a *ngFor="let product of herooo"  [routerLink]="['']">-->
                        <tr *ngFor="let hero of contacts">
                            <td>{{hero.id}}</td>
                            <td>{{hero.email}}</td>
                            <td>{{hero.firstName}}</td>
                            <td> <button (click)="getContact(hero.id)" name="something">Update</button></td>


                        </tr>

                        </tbody>
                    </table>


                </div>
            </div>
        </div>

    </div>
</div>




