<div class="row">
    <div class="col-md-8">
        <app-tabs></app-tabs>
    </div>
    <div class="col-md-4 ">


        <div class="card-header">Cart Items []</div>
        <table class="card-block table table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>Product</th>
                <th>Price</th>
                <th>Quantity</th>
            </tr>
            </thead>
            <tbody>

            <tr *ngFor="let item of cartItems">
                <th scope="row">{{item.product.title}}</th>
                <td colspan="2">{{item.product.title}}</td>
                <td>{{item.quantity}}</td>
            </tr>
            </tbody>
        </table>


    </div>
</div>


<!--<app-cart></app-cart>-->
<!--
<table-filtering></table-filtering>

<table-pagination-example></table-pagination-example>-->




