<div [@routerTransition]>
    <h2 class="text-muted">Dashboard <small>Statistics Overview</small></h2>
     <hr>
    <div class="row">

        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'card-success'" [icon]="'fa-shopping-cart'" [count]="124" [label]="'New Orders!'" ></app-stat>
        </div>
    </div>
    <hr />
<!--
    <div class="row">
        <div class="col-lg-8">
            <div class="card card-default">
                <div class="card-header">
                    <i class="fa fa-clock-o fa-fw"></i> Responsive Timeline
                </div>
                &lt;!&ndash; /.card-header &ndash;&gt;
                <app-timeline></app-timeline>
                &lt;!&ndash; /.card-body &ndash;&gt;
            </div>
            &lt;!&ndash; /.card &ndash;&gt;
        </div>
        &lt;!&ndash; /.col-lg-8 &ndash;&gt;
        <div class="col-lg-4">
            <div class="card card-default">
                <div class="card-header">
                    <i class="fa fa-bell fa-fw"></i> Notifications card
                </div>
                &lt;!&ndash; /.card-header &ndash;&gt;
                <app-notification></app-notification>
                &lt;!&ndash; /.card-body &ndash;&gt;
            </div>
            &lt;!&ndash; /.card &ndash;&gt;

          &lt;!&ndash;  <app-chat></app-chat>&ndash;&gt;
            &lt;!&ndash; /.card .chat-card &ndash;&gt;
        </div>
        &lt;!&ndash; /.col-lg-4 &ndash;&gt;
    </div>
-->
</div>
