<div class="example-container mat-elevation-z8">

    <mat-table #table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="productId">
            <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
        </ng-container>

        <!-- Progress Column -->
        <ng-container matColumnDef="productTitle">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Title </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.title}} </mat-cell>
        </ng-container>


        <ng-container matColumnDef="productType">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Product Type </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.productType}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="productCategory">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Category </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.category.title}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="principalproductCategory">
            <mat-header-cell *matHeaderCellDef mat-sort-header> MainCategoryType </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.principalCategoryType}} </mat-cell>
        </ng-container>










        <!-- Name Column -->
    <!--    <ng-container matColumnDef="productName">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.title}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="productPhone">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Phone </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.phone}} </mat-cell>
        </ng-container>


        <ng-container matColumnDef="color">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Color </mat-header-cell>
            <mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.color}} </mat-cell>
        </ng-container>
-->
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator #paginator
                   [length]="exampleDatabase.data.length"
                   [pageIndex]="0"
                   [pageSize]="25"
                   [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
</div>

