<div class="card">
    <div class="card-header">MENU</div>
    <div class="card-block">
        <ngb-tabset>
            <ngb-tab title="Snacks">
                <ng-template ngbTabContent>
                    <!--{{getAllProducts("SNACKS")}}-->


                    <div *ngFor="let category of snackCategories">

                        <div class="chip">
                            <img src="../../../../assets/images/product/{{category.title}}.jpg" alt="" width="96"
                                 height="96">
                            {{category.title}}
                        </div>
                        <div class="row">
                            <button class="btn-success my-button" (click)="addToCart(cartId,product.id)"
                                    style="cursor:pointer"
                                    *ngFor="let product of category.products">
                                {{product.title}}

                            </button>
                        </div>

                    </div>


                </ng-template>
            </ngb-tab>
            <ngb-tab>
                <ng-template ngbTabTitle><b>Drinks</b> title</ng-template>
                <ng-template ngbTabContent>




                    <div *ngFor="let category of drinksCategories">

                        <div class="chip">
                            <img src="../../../../assets/images/product/{{category.title}}.jpg" alt="" width="96"
                                 height="96">
                            {{category.title}}
                        </div>
                        <div class="row">
                            <button class="btn-success my-button" (click)="addToCart(cartId,purchase.id)"
                                    style="cursor:pointer"
                                    *ngFor="let product of category.products">
                                {{product.title}}

                            </button>
                        </div>

                    </div>

                </ng-template>
            </ngb-tab>
            <ngb-tab title="Khaja & Khana Set" >
                <ng-template ngbTabContent>

                    <div *ngFor="let category of khanaAndKhajaCategories">

                        <div class="chip">
                            <img src="../../../../assets/images/product/{{category.title}}.jpg" alt="" width="96"
                                 height="96">
                            {{category.title}}
                        </div>
                        <div class="row">
                            <button class="btn-success my-button" (click)="addToCart(cartId,purchase.id)"
                                    style="cursor:pointer"
                                    *ngFor="let product of category.products">
                                {{product.title}}

                            </button>
                        </div>

                    </div>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>


    </div>
</div>
