<div>
    <nav class="navbar navbar-inverse bg-inverse">

        <a href="/orders" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Orders</a>

        <a href="/store" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">
            Store</a>

        <a href="/products" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">
            Products </a>

        <a href="/orders" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">
            Orders </a>


    </nav>


</div>

<div class="col-lg-6">

    <form role="form">
        <fieldset class="form-group">
            <label>Name :</label>
            <input  [(ngModel)]="datas.name" name="kk"  class="form-control"  [placeholder]="name">
            <p class="help-block"></p>
        </fieldset>

        <fieldset class="form-group">
            <label>Price :</label>
            <input  [(ngModel)]="datas.price" name="ll" class="form-control" [placeholder]="price">
        </fieldset>


        <button (click)="goBack()"  name="something" class="btn btn-primary" [routerLink]="['/products']" routerLinkActive="active">Back</button>
        <button (click)="delete" type="reset" name="something1" class="btn btn-primary">Reset</button>
        <button (click)="post()" name="something" class="btn btn-primary" >Update</button>
        <button (click)="delete()" name="something" class="btn btn-primary">Delelte</button>


    </form>

</div>









