<div class="login-page" [@routerTransition]>
    <div class="row">
        <div class="col-md-4 push-md-4">
            <img class="user-avatar" src="assets/images/logo.png" width="150px" />
            <h1>SIGN UP</h1>
            <form #signupForm="ngForm" (ngSubmit)="createOrUpdateUser(signupForm)">
                <div class="form-content">

                    <div class="form-group">
                        <input [(ngModel)]="user.firstName" name="firstName" type="text" class="form-control input-underline input-lg" id="" placeholder="First Name">
                    </div>

                    <div class="form-group">
                        <input [(ngModel)]="user.lastName" name="lastName" type="text" class="form-control input-underline input-lg" id="" placeholder="Last Name">
                    </div>


                    <div class="form-group">
                        <input [(ngModel)]="user.userName" name="userName" type="text" class="form-control input-underline input-lg" id="" placeholder="User Name">
                    </div>

                    <div class="form-group">
                        <input [(ngModel)]="user.email" name="email" type="text" class="form-control input-underline input-lg" id="" placeholder="Email">
                    </div>

                    <div class="form-group">
                        <input [(ngModel)]="user.userPassword" name="userPassword" type="password" class="form-control input-underline input-lg" id="" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <input [(ngModel)]="user.phone" name="phone" type="text" class="form-control input-underline input-lg" id="" placeholder="Mobile Number">
                    </div>




                </div>
                <a class="btn rounded-btn" [routerLink]="['/login']"> Log in </a>
                <button type="submit" [disabled]="!signupForm.form.valid" name="something" class="btn rounded-btn">Register
                </button>
                <button type="reset" type="reset" class="btn rounded-btn">Reset Button</button>


            </form>
        </div>
    </div>
</div>
